#lens{
    width: 40px;
    height: 40px;
}
body{
    background-color: grey;
}
#bottle{
  width:200px;
  height:300px;
  border-radius:5px;  
}
#air_conditioner{
  width:500px;
  height:200px;
}#lens{
    width: 40px;
    height: 40px;
}
body{
    background-color: grey;
}
#bottle{
  width:200px;
  height:300px;
  border-radius:5px;  
}
#air_conditioner{
  width:500px;
  height:200px;
}